
:root
{
    /* Setting */

    --user-select: ;

    /* System */

    --viewport-width: ;
    --viewport-height: ;

    /* Misc */

    --no-recent-projects-message: ;

    /* Global */

    --window-width: 100vw;
    --window-height: 100vh;
    --global-border-radius: 5px;
    --global-padding: 30px;

    /* main */

    --sidebar-width: 80px;
    --bar-height: 50px;
    --sidebar-color: rgb(25, 25, 25);
    --content-color: rgba(45, 45, 45, 0.94);
    --bar-color: rgb(68, 68, 68);
    --link-color: rgb(30, 144, 255);
    --link-hover-color: rgb(134, 194, 255);
    --text-color: rgb(255, 255, 255);
    --titleBar-padding: 15px;

    /* infoWindow */

    --infoWindow-bgColor: rgb(45, 45, 45);
    --infoWindow-width: 630px;
    --infoWindow-height: 330px;
    --infoWindow-padding: 10px;
    --infoWindow-bar-height: 40px;
    --infoWindow-footer-gap: 10px;
}

* {
    -webkit-user-select: var(--user-select);
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

html, body
{
    font-family: Nunito, Arial;
    width: var(--window-width);
    height: var(--window-height);
    background-image: url("../Assets/psWave.jpg");
    background-size: cover;
}

#main
{
    grid-template-columns:
        var(--sidebar-width) calc(var(--window-width) - var(--sidebar-width))
    ;
    grid-template-rows:
        var(--window-height)
    ;
    grid-template-areas:
        "sidebar content"
    ;
    display: grid;
}

#sidebar
{
    padding:
        calc(var(--global-padding) + (var(--bar-height) - 50% ))
        0
        calc(var(--global-padding) + (var(--bar-height) - 50% ))
        0
    ;
    
    grid-area: sidebar;
    background-color: var(--sidebar-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#githubButton 
{
    border-radius: 0%;
}

#content
{
    grid-template-columns:
        100%;
    ;
    grid-template-rows:
        var(--bar-height)
        auto
        var(--bar-height)
    ;
    grid-template-areas:
        "titleBar"
        "projectArea"
        "footer"
    ;

    display: grid;
    padding: var(--global-padding);
    grid-area: content;
    background-color: var(--content-color);
}

#titleBar
{
    grid-area: titleBar;
    padding-left: var(--titleBar-padding);
    padding-right: var(--titleBar-padding);
    background-color: var(--bar-color);
    border-radius: var(--global-border-radius);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#titleBar-buttons
{
    display: flex;
    gap: var(--titleBar-padding);
    align-items: center;
}

#projectArea
{
    grid-area: projectArea;
    padding-left: 50px;
    padding-top: 50px;
}

#noRecentProjects {
    visibility: var(--no-recent-projects-message);
}

#noRecentProjects-message
{
    visibility: var(--no-recent-projects-message);
}

#footer
{
    grid-area: footer;
    background-color: var(--bar-color);
    border-radius: var(--global-border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: var(--titleBar-padding);
    padding-right: var(--titleBar-padding);
}

#overlay
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.486);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

#infoWindow
{
    width: var(--infoWindow-width);
    height: var(--infoWindow-height);
    display: grid;
    padding: var(--infoWindow-padding);
    background-color: var(--infoWindow-bgColor);
    border-radius: var(--global-border-radius);

    grid-template-columns:
        100%;
    ;
    grid-template-rows:
        var(--infoWindow-bar-height)
        auto
        var(--infoWindow-bar-height)
    ;
    grid-template-areas:
        "infoWindow-header"
        "infoWindow-content"
        "infoWindow-footer"
    ;
}

#infoWindow-header
{
    grid-area: infoWindow-header;
    padding-left: var(--infoWindow-padding);
    padding-right: var(--infoWindow-padding);
    display: flex;
    align-items: center;
    justify-content: right;
}

#infoWindow-content
{
    grid-area: infoWindow-content;
}

#infoWindow-footer
{
    grid-area: infoWindow-footer;
    padding-left: var(--infoWindow-padding);
    padding-right: var(--infoWindow-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--infoWindow-footer-gap);
}

#infoWindow-version
{
    justify-self: flex-start;
}

#infoWindow-footer-links
{
    display: flex;
    gap: var(--infoWindow-padding);
    align-items: center;
}

.normalText
{
    color: var(--text-color);
    font-weight: normal;
    width: max-content;
}

.normalImage
{
    width: max-content;
}

.circleButton
{
    border-radius: 100%;
    width: max-content;
}

.circleButton:hover
{
    opacity: 0.7;
}

.clickableItem:hover
{
    cursor: pointer;
}

.link
{
    font-weight: 600;
    color: var(--link-color);
    width: max-content;
}

.link:hover
{
    color: var(--link-hover-color);
}

.draggableArea
{
    -webkit-app-region: drag;
}

.undraggableArea
{
    -webkit-app-region: no-drag;
}

.warnText
{
    color: #ff8080;
    width: max-content;
}